*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.card{
    height: 400px;
    width: 300px;
}
.card-continer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 50px;
}
.image{
    height: 200px;
    width: 200px;
}
.image-continer{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.example-spacer {
    flex: 1 1 auto;

  }
  .overall{
    background: linear-gradient(rgb(41, 41, 109), rgb(193, 68, 157));
  }
  span{
    color: white;
  }
  .icons{
    color: white;
  }
  .headimg{
 
  
    padding: 30px;
   width: 100%;
   height: 400px;

    
  }
  .end-continer{
    background: linear-gradient(rgb(41, 41, 109), rgb(193, 68, 157));
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    color: white;
  }
  @media screen and (min-width: 300px) and (max-width:600px){
.card-continer{
    display: flex;
    flex-direction: column;
}
.end-continer{
    background: linear-gradient(rgb(41, 41, 109), rgb(193, 68, 157));
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    color: white;
  }
  }